[Unit]
Description=plusdashfilter - qmail dashext to opensmtpd plusext

[Service]
Type=simple
User=plusdashfilter
Group=plusdashfilter
# Load env vars from /etc/default/ and /etc/sysconfig/ if they exist.
# Prefixing the path with '-' makes it try to load, but if the file doesn't
# exist, it continues onward.
EnvironmentFile=-/etc/default/plusdashfilter
ExecStart=/usr/local/plusdashfilter/bin/plusdashfilter --input-ip=$INPUT_IP --input-port=$INPUT_PORT --output-ip=$OUTPUT_IP --output-port=$OUTPUT_PORT -p /run/plusdashfilter.pid
Restart=on-failure
WorkingDirectory=/usr/local/plusdashfilter
PIDFIle=/run/plusdashfilter.pid

[Install]
WantedBy=multi-user.target
